body {
  background-color: #e6e5e1;
}

h1 {
  font-size: 60px;
  text-align: center;
}

.navbar-styled {
  background-color: #e6e5e1 !important;
  z-index: 10;
}

.logo {
  width: 100px;
  height: auto;
}

.image-wrapper {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  overflow: hidden;
}

.hero-heading {
  position: absolute;
  color: #e6e5e1;
}

.image-cover {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 500px) {
  h1 {
    font-size: 40px;
    line-height: 130%;
  }
}
